<!-- <section class="login-container">
  <h1>Login to Your Account</h1>
  <form autocomplete="off" novalidate [formGroup]="form" (submit)="login()">
    <input type="email" name="user" placeholder="Email address" formControlName="email">
    <input type="password" name="pass" placeholder="Password" formControlName="password">
    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
  </form>

  <div class="login-help">
    <a href="#">Register</a> - <a href="#">Forgot password?</a>
  </div>
</section> -->
<p>{{ user$ | async | json }}</p>
<h1 class="header text-center">Login with Firebase or Social Providers</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="form">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button type="submit" (click)="login()" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-primary btn-block" (click)="loginWithGoogle()">Login with Google</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>No account yet? <a href="/register">Create an account</a></p>
    </div>
  </div>
</div>